
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">

  <title th:text="${title}">Yongin Secretary</title>
</head>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
    <a class="navbar-brand" href="#" th:href="@{/home}">Yongin Secretary</a>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/home}">홈 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/todo/write/}">할일등록 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/content/list/1}">공지사항 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/content/list/2}">자유게시판 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/list/}">유저리스트 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/content/list/4}">내가 좋아한 글 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'" style="margin-left:240px;">
          <a class="nav-link" href="#" th:href="@{/user/login}">로그인 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/logout}">로그아웃 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/signup}">회원가입 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/edit}">정보수정 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>


        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>

<br/><br/>
<div align="center">
  <table style="width: 1200px;">
    <thead>
    <tr>
      <th style="width: 150px;">카테고리</th>
      <th style="width: 200px;">작성자</th>
      <th style="width: 400px;">글제목</th>
      <th style="width: 200px;">작성일</th>
      <th style="width: 50px;">좋아요</th>
      <th style="width: 100px;">글 보기</th>
      <th style="width: 100px;">글 수정</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="content: ${contentList}">
      <td th:if="${content.category==1}">공지사항</td>
      <td th:if="${content.category==2}">자유게시판</td>
      <td th:if="${content.category==3}">골드게시판</td>
      <td th:text="${content.user.nickname}"/>
      <td th:text="${content.title}"/>
      <td th:text="${content.uploadDate}"/>
      <td th:text="${content.userLikes.size()}">
      <td>
        <button class="myButton3" th:onclick="|location.href='@{/content/{id}/show(id=${content.id})}'|">
          보기</button>
      </td>
      <td>
        <button class="myButton3" th:onclick="|location.href='@{/content/{id}/edit(id=${content.id})}'|">
          수정</button>
      </td>
    </tr>
    </tbody>
  </table>
  <br/>
  <button style="width:50px;"  th:onclick="|location.href='@{/content/free(page=1)}'|">&lt;&lt;</button>
  <button th:if="${hasPreviousPage}" style="width:50px;"
          th:onclick="|location.href='@{/content/free(page=${page-1})}'|">&lt;</button>
  <button th:unless="${hasPreviousPage}"style="width:50px; background-color: lightyellow">&lt;</button>

  <span>[[${page}]] / [[${totalPages}]] page</span>

  <button th:if="${hasNextPage}" style="width:50px;"
          th:onclick="|location.href='@{/content/free(page=${page+1})}'|">&gt;</button>
  <button th:unless="${hasNextPage}" style="width:50px; background-color: lightyellow">&gt;</button>
  <button style="width:50px;" th:onclick="|location.href='@{/content/free(page=${totalPages})}'|">&gt;&gt;</button>
</div>
</body>
</html>

<style>

    .container {
        width: 800px;
        border: 5px solid;
    }
    button {
        width: 90px;
        height: 40px;
        background-color: #25292;
        font-weight: bolder;
        font-size: x-large;
        border: 2px solid;
        border-radius: 5px;
    }
</style>