
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5">
<head th:fragment="head(title)">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link href="starter-template.css" th:href="@{/css/starter-template.css}" rel="stylesheet">

  <title th:text="${title}">Yongin Secretary</title>
</head>
<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:fragment="menu(menu)">
    <a class="navbar-brand" href="#" th:href="@{/home}">Yongin Secretary</a>


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/home}">홈 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/todo/write/}">할일등록 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/todo/chat/}">챗봇 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/content/list/1}">공지사항 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/content/list/2}">자유게시판 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')" class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/list/}">유저리스트 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/content/list/4}">내가 좋아한 글 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item" th:classappend="${menu} == 'home'? 'active'" style="margin-left:240px;">
          <a class="nav-link" href="#" th:href="@{/user/login}">로그인 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/logout}">로그아웃 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/signup}">회원가입 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item" th:classappend="${menu} == 'home'? 'active'">
          <a class="nav-link" href="#" th:href="@{/user/edit}">정보수정 <span class="sr-only" th:if="${menu} == 'home'">(current)</span></a>
        </li>


        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
</header>
<body>

<main role="main" class="container">

  <div class="starter-template">
    <br></br><br></br>
    <h1>Yongin Secretary</h1>

    <p>Yongin Secretary is a powerful secretary site, equipped with an AI chatting bot system <br>responsible for your planning, and also lets you know the current weather in each area</p>
  </div>



  <div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Category</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" >
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">TODO</h2>
            <span style="font-weight:bold;">당신의 일정을 관리하세요</span>
            <ul class="d-flex list-unstyled mt-auto">
              <form th:action="@{/todo/write/}" method="GET" enctype="multipart/form-data">
                <div class="form-group">
                  <button type="submit" class="btn  bg-white  text-dark" style="margin-top:10px;">Start</button>
                </div>
              </form>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">CHATBOT</h2>
            <span style="font-weight:bold;">챗봇과의 대화를 시작하세요</span>
            <ul class="d-flex list-unstyled mt-auto">
              <form th:action="@{/chatbot}" method="GET" enctype="multipart/form-data">
                <div class="form-group">
                  <button type="submit" class="btn  bg-white  text-dark">Start</button>
                </div>
              </form>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">WEATHER</h2>
            <span style="font-weight:bold;">내일의 날씨를 확인하세요</span>
            <ul class="d-flex list-unstyled mt-auto">
              <form th:action="@{/locations}" method="GET" enctype="multipart/form-data">
                <div class="form-group">
                  <button type="submit" class="btn  bg-white  text-dark">Start</button>
                </div>
              </form>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</body>

</html>
